<h1>{{title}}</h1>
{{#each contact}} 
<a href="/contact/{{this.id}}"><h1>{{this.title}}</h1></a>
<p>{{this.desc}}</p>
{{/each}}
<form action="/contact/add" method="GET">
    <br>Nom:<br><input type="text" name="nom">
    <br>Prenom:<br><input type="text" name="prenom">
    <br>numero de telephone<br><input type="telephone" name="numero">
    <br>adresse courriel<br><textarea name="description" cols="30" rows="10"></textarea>
    <br>sujet de la demande<br><textarea name="description" cols="30" rows="10"></textarea>
    <br><input type="submit" value="">
    <select name="inscription" id=""></select>
</form>
