<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Acceuil</a> 
      <a href="/blog">blog</a>
      <a href="/contact">contact</a> 
      <a href="/formation">formation</a>
    </nav>
    {{{body}}}
  </body>
</html>
